    <script src="/scripts/main.js"></script>
    <div class="footer">
        <span>Karol Konieczko 2018</span>
        <div class="socials">
            <a href="https://github.com/Ibarasan" target="_blank"><i class="fab fa-github-square"></i></a>
            <a href="https://www.linkedin.com/in/karol-konieczko/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="mailto:&#107;&#111;&#110;&#105;&#101;&#099;&#122;&#107;&#111;&#046;&#107;&#097;&#114;&#111;&#108;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" target="_blank"><i class="fas fa-envelope-square"></i></a>
        </div>
    </div>
    </body>
</html>