<!DOCTYPE html>
<html>
    <head>
                <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122103130-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-122103130-1');
        </script>

        <title>Karol Konieczko Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Portfolio">
        <meta name="keywords" content="fnodrontend, backend, javascript, node.js, css, html, portfolio, developer">
        <meta name="author" content="Karol Konieczko">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        </head>
    <body>

    <div class="topnav" id="myTopnav">
      <a href="/home" class=""><i class="fas fa-home"></i></a>

      <a href="/portfolio">Projekty</a>
      <a href="/about">O mnie</a>
      <a href="/contact">Kontakt</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>

    </div>
    

