<% include ../partials/header %>


<div class="content">

<div class="aboutContainer">
    <h1>Główne technologie, które wykorzystuje</h1>
    <p class="techIcons"><i class="fab fa-js"></i><i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i><i class="fab fa-node"></i></p>
    <hr>
    <h1>Planuje opanować</h1>
    <p class="techIcons"><i class="fab fa-react"></i><i class="fab fa-vuejs"></i></p>
    <hr>
    <h2>O technologiach</h2>
    <p>Jeżeli część obrazkowa zaprezentowana powyżej wystarczyła by przykuć uwagę, to czas na kilka wyjaśnień. <strong>JavaScript</strong> jest dla mnie najważniejszym elementem, co nie powinno zaskakiwać w dzisiejszych czasach. Kładę duży nacisk na jego naukę, bo zdaje sobie doskonale sprawę, że głębokie zrozumienie "vanilla js" znacznie ułatwia wdrożenie się w jakiekolwiek technologie, które oparte są na tym języku. Przykładem może być <strong>Node.js</strong>, który od pewnego czasu, przy wykorzystaniu frameworku <strong>Express</strong>, próbuje okiełznać. W ten sposób narodziło się kilka prostych projektów i chociaż są to raczej niewielkie CRUD'y oparte na <strong>MongoDB</strong>, to wystarczyły by rozbudzić głód bardziej ambitnych projektów.</p>
    <p>Korzystałem z <strong>jQuery</strong> i potrafiłbym się łatwo wdrożyć w korzystanie z tej biblioteki. Przyznam jednak, że naukę technologii frontendowych rozpocząłem w momencie, gdy <strong>jQuery</strong> było już niejako w odwrocie - nowe wersje <strong>JavaScript</strong>(choćby <strong>ES6</strong>) raz za razem odbierały argumenty do wykorzystywania <strong>jQuery</strong>. Dlatego też uczciwie nie umieszczę tej technologii wśród powyższych logotypów, bo do niej nie przywykłem, ale potrafię z niej korzystać.</p>
    <p><strong>HTML</strong> i <strong>CSS</strong> to technologie do których czuje pewien rodzaj respektu. Wydają się być proste, można je łatwo zlekceważyć, a wtedy podstępne niuanse wyjdą w najmniej oczekiwanym momencie. Jestem co prawda jeszcze daleki od określenia się ekspertem w tych technologiach, ale poruszam się tu dosyć płynnie. Pojęcia takie jak <strong>RWD</strong> nie są mi obce i staram się wprowadzać je w życie. Do tej pory kod <strong>CSS</strong> tworzyłem zazwyczaj "na żywca", bez preprocessorów. Zdażyło mi się jednak używać <strong>SASS</strong> i wiem na czym to polega. Korzystałem również z frameworków CSS takich jak <strong>Bootstrap</strong> czy <strong>SemanticUI</strong>, mimo to do tworzenia layoutów preferuje narzędzia takie jak <strong>Flexbox</strong> czy <strong>CSS Grid</strong></p>
    <p>W przyszłości chciałbym opanować w bardzo dobrym stopniu <strong>React.js</strong> lub <strong>Vue.js</strong>. Pierwszym w kolejności będzie <strong>React.js</strong>, wybór podyktowany przede wszystkim wielkością community tej biblioteki, co przekłada się mocno na wykorzystanie na rynku.</p>
    <p>Co do innych technologii wspomagających proces tworzenia aplikacji, to zdecydowanie jednym z najważniejszych punktów jest dla mnie <strong>GIT</strong>, o jego zaletach nie trzeba się rozpisywać. Korzystam również często i gęsto z <strong>npm</strong>, który jest świetnym menadżerem paczek.</p>
    <hr>
    <h2>O mnie</h2>
    <p>Tutaj będzie skromniej. Definiuje mnie jako osobę kilka elementów takich jak: zamiłowanie do technologii, fantastyki naukowej, fantasy i gier. Kiedyś nawet chciałem zostać pisarzem, ale te plany odkładam do emerytury. Uwielbiam gry multiplayerowe różnej maści, bo w dobrym towarzystwie wszystko staje się lepsze. W zamierzchłych czasach byłem również fanem japońskich komiksów i animacji. Do teraz pozostał mi do nich pewien sentyment, zwłaszcza do klasycznych serii, które kiedyś dawały mi mnóstwo frajdy.</p>
    <p>Chciałbym jeszcze dodać, że gdybym był bohaterem Marvela, to moją supermocą byłaby niefotogeniczność (wychodzę na zdjęciach jak gbur...) i nieumiejętność ubierania się odpowiednio do warunków pogodowych ;).</p>
</div>
</div>


<% include ../partials/footer %>