<% include ../partials/header %>

<div class="content contactContent">
<div class="Contact"><a href="https://github.com/Ibarasan" target="_blank"><i class="fab fa-github iconsMargin"></i></a><span>Link do mojego profilu na GitHubie. Znajduje się tam wiele moich projektów, duża część to repozytoria publiczne.</span></div>
<hr>
<div class="Contact"><a href="https://www.linkedin.com/in/karol-konieczko" target="_blank"><i class="fab fa-linkedin iconsMargin"></i></a><span>Korzystam z linkedIn od niedawna, ale to będzie najprostsza metoda kontaktu ze mną</span></div>
<hr>
<div class="Contact"><a href="mailto:&#107;&#111;&#110;&#105;&#101;&#099;&#122;&#107;&#111;&#046;&#107;&#097;&#114;&#111;&#108;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"><i class="fas fa-envelope-square iconsMargin"></i></a><span>Zawsze pozostaje również klasycznie - adres email. Skrzynkę sprawdzam często :).</span></div>
</div>

<% include ../partials/footer %>