<% include ../partials/header %>

<div class="content">
<div class="homeDescription">
    <h1>Cześć!</h1>
    <p>Mam na imię Karol, pochodzę z niewielkiego miasta w województwie mazowieckim, a od dobrych kilku lat mieszkam w Warszawie(oho, słoik). Stworzyłem tę stronę, aby pokazać co tworzę, co już potrafię, co zajmuje mnie w wolnym czasie, a także czym mam zamiar zająć się w przyszłości. </p>
    <p>Jestem studentem informatyki, od października na trzecim roku. Obecnie skupiam się na frontendowym aspekcie programowania, jednak technologie backendowe nie są mi straszne, ani obce - zwłaszcza gdy do gry wchodzi Node.js, który chciałbym w przyszłości jeszcze lepiej opanować. Zachęcam do zapoznania się z działem <strong>Projekty</strong> i <strong>O mnie</strong>, gdzie można poznać więcej szczegółów.</p>
</div>
</div>

<% include ../partials/footer %>