<!DOCTYPE html>
<html>
    <head>
        <title>Karol Konieczko</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <div class="socials">
                <a href="https://github.com/Ibarasan" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="https://www.linkedin.com/in/karol-konieczko/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:&#107;&#111;&#110;&#105;&#101;&#099;&#122;&#107;&#111;&#046;&#107;&#097;&#114;&#111;&#108;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" target="_blank"><i class="fas fa-envelope-square"></i></a>
        </div>
    <div id="landing-header">
 		<h1 class="name">Karol Konieczko</h1>
 		<h2 class="title">Web developer</h2>
		<a href="/home"><button class="more">Zobacz</button></a>
    </div>
    