<% include ../partials/header %>

<div class="content">
    <div class="portfolioContainer">
        <div class="portfolioItem project1">
            <div class="projectDescription">
                <p><strong>Login App</strong>: Express, Passport.js, Mongoose</p>
                <a class="projectButton" href="https://quiet-forest-17453.herokuapp.com/" target="_blank">Zobacz</a>
            </div>
        </div>        
        <div class="portfolioItem project2">
            <div class="projectDescription">
                <p class=""><strong>PSD To HTML</strong>: Bootstrap, HTML, Photoshop</p>
                <a class="projectButton" href="https://ibarasan.github.io/Marble_Template/" target="_blank">Zobacz</a>
            </div>
        </div>        
        <div class="portfolioItem project3">
            <div class="projectDescription">
                <p class=""><strong>Sound App</strong>: JavaScript, Howler.js, Paper.js</p>
                <a class="projectButton" href="https://ibarasan.github.io/Circles/" target="_blank">Zobacz</a>
            </div>
        </div>        
        <div class="portfolioItem project5">
            <div class="projectDescription">
                <p class=""><strong>Mockup layout</strong>: HTML, CSS, JavaScript</p>
                <a class="projectButton" href="https://ibarasan.github.io/Awesome/" target="_blank">Zobacz</a>
            </div>
        </div>
        <div class="portfolioItem project4">
            <div class="projectDescription">
                <p class=""><strong>Todo List</strong>: jQuery, HTML, CSS</p>
                <a class="projectButton" href="https://ibarasan.github.io/TodoList/" target="_blank">Zobacz</a>
            </div>
        </div>
        
    </div>
</div>


<% include ../partials/footer %>